MAIN_CONTROL_SOCKET=/var/run/foundjob/main-control.sock
AUTH_SERVICE_SOCKET=/var/run/foundjob/auth-service.sock
USER_SERVICE_SOCKET=/var/run/foundjob/user-service.sock
COMPANY_SERVICE_SOCKET=/var/run/foundjob/company-service.sock
JOB_SERVICE_SOCKET=/var/run/foundjob/job-service.sock
APPLICATION_SERVICE_SOCKET=/var/run/foundjob/application-service.sock
RESUME_SERVICE_SOCKET=/var/run/foundjob/resume-service.sock
APPOINTMENT_SERVICE_SOCKET=/var/run/foundjob/appointment-service.sock
PACKAGE_SERVICE_SOCKET=/var/run/foundjob/package-service.sock
BACKOFFICE_SERVICE_SOCKET=/var/run/foundjob/backoffice-service.sock
FILE_SERVICE_SOCKET=/var/run/foundjob/file-service.sock
