FILE_SERVICE_SOCKET=/var/run/foundjob/file-service.sock
MONGODB_URI=mongodb://foundjob-mongodb:27017/foundjob_files
FILE_STORAGE_ROOT=/data/files
FILE_PUBLIC_ROOT=/data/files/public
KAFKA_BROKERS=foundjob-kafka:9092
FILE_STORAGE_DRIVER=local_s3_sync
