APPOINTMENT_SERVICE_SOCKET=/var/run/foundjob/appointment-service.sock
DATABASE_URL=postgresql://foundjob:foundjob_dev_password@foundjob-postgres:5432/foundjob_appointment
APPLICATION_SERVICE_SOCKET=/var/run/foundjob/application-service.sock
KAFKA_BROKERS=foundjob-kafka:9092
