PACKAGE_SERVICE_SOCKET=/var/run/foundjob/package-service.sock
DATABASE_URL=postgresql://foundjob:foundjob_dev_password@foundjob-postgres:5432/foundjob_package
COMPANY_SERVICE_SOCKET=/var/run/foundjob/company-service.sock
KAFKA_BROKERS=foundjob-kafka:9092
