APPLICATION_SERVICE_SOCKET=/var/run/foundjob/application-service.sock
DATABASE_URL=postgresql://foundjob:foundjob_dev_password@foundjob-postgres:5432/foundjob_application
JOB_SERVICE_SOCKET=/var/run/foundjob/job-service.sock
USER_SERVICE_SOCKET=/var/run/foundjob/user-service.sock
KAFKA_BROKERS=foundjob-kafka:9092
