DATABASE_URL=postgresql://foundjob:foundjob_dev_password@foundjob-postgres:5432/foundjob_company_service
KAFKA_BROKERS=foundjob-kafka:9092
COMPANY_SERVICE_SOCKET=/var/run/foundjob/company-service.sock
FILE_SERVICE_SOCKET=/var/run/foundjob/file-service.sock
