USER_SERVICE_SOCKET=/var/run/foundjob/user-service.sock
DATABASE_URL=postgresql://foundjob:foundjob_dev_password@foundjob-postgres:5432/foundjob_user
FILE_SERVICE_SOCKET=/var/run/foundjob/file-service.sock
KAFKA_BROKERS=foundjob-kafka:9092
