DATABASE_URL=postgresql://foundjob:foundjob_dev_password@foundjob-postgres:5432/foundjob_backoffice_service
BACKOFFICE_SERVICE_SOCKET=/var/run/foundjob/backoffice-service.sock
KAFKA_BROKERS=foundjob-kafka:9092
